Skip to content
Why GitHub? 
Team
Enterprise
Explore 
Marketplace
Pricing 
Search
Sign in
Sign up
55577799
/
practice
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
practice/style.csss
@55577799
55577799 commit
Latest commit aa2c6c1 on Aug 17, 2020
 History
 1 contributor
114 lines (94 sloc)  1.53 KB
   

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');


html,
body {
    height: 100%;
}

.greetings,
p,
h1, 
h2 {
    font-family: 'Noto Serif JP', serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1500px;
    background-color:aqua;
    padding: 5px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 3em;
    background-color:darkorchid;
}

ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #f3eaea;
    font-weight: 800;
}
li a:hover {
    color:#0a1396;
  }

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 20px;
    flex-basis: 750px;
}

.myImg {
    margin-top: 150px;
    padding-left: 20px;
    flex-basis: 450px;
}

.knowledge {
    display: flex;   
    justify-content: center;
}

.article {
    margin-top: 1em;   
}

p {
    font-size: 1.2rem;
    color: #323332;
    padding-left: 20px;
}

.text {
    font-size: 1rem;
    color: #0a1396;
}

h3 {
   text-align: center;
    color: #0c0c0c;
}


h2 {
    text-align: center;
    color: #0c0c0c;
}

h1 {
    color: #08298A;
    text-align: center;
    font-size: 2rem;
}

h4 {
    color: rgb(255, 20, 90);
    text-align: center;
    font-size: 15px;

}

.footer {
    background-color: #279730;
    flex: 0 0 auto;
}
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete